h1 {
    color: purple;
    /* Adicionar mais estilos conforme necessário */
}

p {
    color: purple;
    /* Adicionar mais estilos conforme necessário */
}

button {
    background-color: pink;
    color: purple;
    border: none;
    /* Adicionar mais estilos conforme necessário */
}

img {
    /* Adicionar estilos para formatar a imagem */
}
/* Adicionar mais estilos conforme necessário */
